# Haptic engine (ZTE vibrator)
# sysfs_vibrator already defined in system/sepolicy/public/file.te

allow system_app sysfs_vibrator:dir search;
allow system_app sysfs_vibrator:file rw_file_perms;

allow system_server sysfs_vibrator:dir search;
allow system_server sysfs_vibrator:file rw_file_perms;

allow hal_vibrator_default sysfs_vibrator:dir search;
allow hal_vibrator_default sysfs_vibrator:file rw_file_perms;
