<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nubia.rmcontrol"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_rmcontrol"
        android:persistent="true"
        android:theme="@android:style/Theme.DeviceDefault.Settings">

        <!-- Settings screen -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Quick Settings tiles -->
        <service
            android:name=".LoudnessTile"
            android:label="@string/tile_loudness"
            android:icon="@drawable/ic_loudness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".FpWakeTile"
            android:label="@string/tile_fpwake"
            android:icon="@drawable/ic_fingerprint"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".Dt2wTile"
            android:label="@string/tile_dt2w"
            android:icon="@drawable/ic_dt2w"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".FanTile" android:label="@string/tile_fan" android:icon="@drawable/ic_fan"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
        <service android:name=".CoolingTile" android:label="@string/tile_cooling" android:icon="@drawable/ic_cooling"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
    </application>
</manifest>
