allow hal_audio_default shell_data_file dir { search read open getattr write add_name remove_name rename }
allow hal_audio_default shell_data_file file { read write create open getattr setattr unlink rename map }
allow mtk_hal_audio shell_data_file dir { search read open getattr write add_name remove_name rename }
allow mtk_hal_audio shell_data_file file { read write create open getattr setattr unlink rename map }
allow untrusted_app shell_data_file dir { search read open getattr }
allow untrusted_app shell_data_file file { read write open getattr map }
