<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nx809j.overlay.refreshrate"
    android:versionCode="1"
    android:versionName="1.0">
    <!-- Static, no targetName: framework-res declares no <overlayable>, so the
         whole package is overlayable by a signed static RRO (the vendor one that
         this outranks works the same way). system_ext = highest partition
         precedence, see Android.bp. -->
    <overlay
        android:targetPackage="android"
        android:isStatic="true"
        android:priority="0" />
    <application android:hasCode="false" />
</manifest>
